In [4]:
import pandas as pd

## Don't delete any rows

In [5]:
df = pd.read_csv('formatted_data.csv')
df

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
...,...,...,...,...,...,...,...,...,...
4135,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4136,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4137,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
4138,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4139,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1

In [6]:
#there are 70 null rows
nulls = df[df['photo'].isnull()]
nulls

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
180,R_1DOu3fdZstLn1qp,1,1,NaN,NaN,NaN,NaN,2,0
181,R_1DOu3fdZstLn1qp,1,2,NaN,NaN,NaN,NaN,2,1
182,R_1DOu3fdZstLn1qp,2,1,NaN,NaN,NaN,NaN,2,0
183,R_1DOu3fdZstLn1qp,2,2,NaN,NaN,NaN,NaN,2,1
184,R_1DOu3fdZstLn1qp,3,1,NaN,NaN,NaN,NaN,2,0
...,...,...,...,...,...,...,...,...,...
1895,R_2YnXDBfIiXItTxz,3,2,NaN,NaN,NaN,NaN,1,0
1896,R_2YnXDBfIiXItTxz,4,1,NaN,NaN,NaN,NaN,2,0
1897,R_2YnXDBfIiXItTxz,4,2,NaN,NaN,NaN,NaN,2,1
1898,R_2YnXDBfIiXItTxz,5,1,NaN,NaN,NaN,NaN,1,1
1899,R_2YnXDBfIiXItTxz,5,2,NaN,NaN,NaN,NaN,1,0

In [7]:
#dropped_ids = nulls['id'].unique()
#dropped_ids

In [8]:
#drop nulls in dataset
df = df[~(df['photo'].isnull())]
df

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
...,...,...,...,...,...,...,...,...,...
4135,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4136,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4137,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
4138,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4139,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1

In [9]:
##photo tags
photo_mappings = pd.read_csv('photo_mappings.csv')
photo_mappings.columns = photo_mappings.columns.str.lower()
photo_mappings = photo_mappings.drop(columns='name')
photo_mappings

,gender,ethnicity,filtered,photo
0,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
1,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
2,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
3,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
4,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
5,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
6,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
7,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
8,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
9,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
10,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
11,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
12,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
13,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
14,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
15,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
16,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
17,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
18,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
19,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
20,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
21,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
22,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
23,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...

In [10]:
#photo_mappings['endings'] = photo_mappings['photo'].str.replace('https://berkeley.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_', '', regex=False)
##df['endings'] = df['photo'].str.replace('https://berkeley.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_', '', regex=False)

#df['endings'].unique()

In [11]:
final_df = df.merge(photo_mappings, on='photo')
new_cols = ['id', 'choiceNum', 'candNum', 'college', 'exp', 'job', 'photo', 'gender', 'ethnicity', 'filtered','preference', 'Y' ]
final_df = final_df[new_cols].drop(columns='photo')
final_df

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0
1,R_10Dc7KG5UNa5FTL,2,2,Boston University,6.0,Sales Representative,Male,White,True,2,1
2,R_10vgeskqNS70Nl2,1,1,Boston University,6.0,Sales Representative,Male,White,True,1,1
3,R_10vgeskqNS70Nl2,4,1,Stanford University,6.0,Consultant,Male,White,True,1,1
4,R_1C8EXyoBcrNhOeN,3,1,Virginia Tech,5.0,Consultant,Male,White,True,2,0
...,...,...,...,...,...,...,...,...,...,...,...
4065,R_xlyEl9UuW4Gb5xn,3,1,George Washington University,7.0,Consultant,Female,POC,False,1,1
4066,R_xyfhT26F7oOnIcN,4,2,Boston University,5.0,Data Analyst,Female,POC,False,1,0
4067,R_ysb31V3xcF8FkHv,5,2,Boston University,5.0,Data Analyst,Female,POC,False,1,0
4068,R_ZepKbi2sjYj7xzX,1,2,Virginia Tech,7.0,Sales Representative,Female,POC,False,2,1
4069,R_Zmz2US2dIggx0gp,1,1,Virginia Tech,6.0,Sales Representative,Female,POC,False,1,1

# Covariates

In [12]:
cleaned_pre_format = pd.read_csv('cleaned_conj_exp_responses.csv')
cleaned_pre_format.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', '1_Q3', '2_Q3', '3_Q3', '4_Q3',
       '5_Q3', 'Q61', 'Q30', 'Q30_7_TEXT', 'Q31', 'Q32', 'Q33', 'Q33_7_TEXT',
       'Unique Survey Code', 'choice1_college1', 'choice1_college2',
       'choice1_job1', 'choice1_job2', 'choice1_photo1', 'choice1_photo2',
       'choice2_college1', 'choice2_college2', 'choice2_job1', 'choice2_job2',
       'choice2_photo1', 'choice2_photo2', 'choice3_college1',
       'choice3_college2', 'choice3_job1', 'choice3_job2', 'choice3_photo1',
       'choice3_photo2', 'choice4_college1', 'choice4_college2',
       'choice4_job1', 'choice4_job2', 'choice4_photo1', 'choice4_photo2',
       'choice5_college1', 'choice5_college2', 'choice5_job1', 'choice5_job2',
       'choice5_photo1', 'choice5_photo2', 'choice1_exp1', 'choice1_exp2',
       'choice2_exp1', 'choice2_exp2', 'choice3_exp1', 'choice3_exp2',
       'choice4_exp1', 'choice4_exp2', 'choice5_exp1', 'choice5_exp2'],
      dtype='object')

In [13]:
covariates = cleaned_pre_format[['ResponseId','Q30', 'Q31', 'Q32', 'Q33']]

In [14]:
#covariates['Q61'] = covariates['Q61'].str.replace('All of the above', '1,2,3,4,5')
#covariates['Q61'] = covariates['Q61'].str.replace('Q', '')

covariates

,ResponseId,Q30,Q31,Q32,Q33
0,R_2OOTwdc9qpaeyUM,White,Male,45-54 years old,Bachelors Degree
1,R_1Hdd8hUst2tZXhb,White,Male,35-44 years old,Bachelors Degree
2,R_3Pjfa42q2kQ7vG3,White,Male,25-34 years old,Masters Degree
3,R_2X033519KnXqPZN,White,Male,25-34 years old,Bachelors Degree
4,R_2b3suxrXdwXSniG,White,Male,25-34 years old,Bachelors Degree
...,...,...,...,...,...
409,R_3lXpTUN5BVRENUX,Black or African American,Male,25-34 years old,High School Graduate
410,R_3ltDcAqP8FxgHZf,White,Male,25-34 years old,Masters Degree
411,R_3n0gxinPpBmU108,White,Female,25-34 years old,Bachelors Degree
412,R_6ijRBd6GlnVOICJ,White,Male,25-34 years old,High School Graduate
413,R_3Oqtne56t2sJDkF,White,Male,25-34 years old,High School Graduate

In [15]:
#temp = covariates.merge(covariates['Q61'].str.split(',', expand=True), left_index = True, right_index = True)
#temp

In [17]:
#melted = pd.melt(temp, id_vars = ['ResponseId', 'Q30', 'Q31', 'Q32', 'Q33'], value_vars = [0,1,2,3,4])
#melted

In [28]:
#melted_keep = melted[~melted['ResponseId'].isin(list(dropped_ids))]

In [15]:
#melted = melted[melted['value'].notnull()].drop(columns=['variable']).rename(columns={'Q30':'resp_ethnicity', 'Q31':'resp_sex', 'Q32': 'resp_age', 'Q33': 'resp_education'})
#melted = melted.reset_index(drop=True)
#melted['value'] = melted['value'].astype(int)
#melted

In [16]:
merge_final = final_df.merge(covariates, left_on = ['id'], right_on = ['ResponseId'], how = 'inner').drop(columns=['ResponseId'])
merge_final = merge_final.rename(columns={'Q30':'resp_ethnicity', 'Q31':'resp_sex', 'Q32': 'resp_age', 'Q33': 'resp_education'})

In [20]:
#merge_final = merge_final.drop(columns= ['ResponseId', 'value'])
#merge_final

In [17]:
final = merge_final.sort_values(['id', 'choiceNum', 'candNum']).reset_index(drop=True)
final

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y,resp_ethnicity,resp_sex,resp_age,resp_education
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0,Black or African American,Male,35-44 years old,Bachelors Degree
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,Female,White,True,2,1,Black or African American,Male,35-44 years old,Bachelors Degree
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,Male,POC,False,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,Male,POC,True,1,0,Black or African American,Male,35-44 years old,Bachelors Degree
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,Male,White,False,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4065,R_zeaJCDw8vld0P73,3,2,George Washington University,7.0,Sales Representative,Male,POC,True,1,0,White,Male,35-44 years old,High School Graduate
4066,R_zeaJCDw8vld0P73,4,1,Virginia Tech,6.0,Consultant,Male,White,False,2,0,White,Male,35-44 years old,High School Graduate
4067,R_zeaJCDw8vld0P73,4,2,Virginia Tech,7.0,Sales Representative,Male,White,True,2,1,White,Male,35-44 years old,High School Graduate
4068,R_zeaJCDw8vld0P73,5,1,George Washington University,7.0,Data Analyst,Male,POC,False,1,1,White,Male,35-44 years old,High School Graduate
4069,R_zeaJCDw8vld0P73,5,2,Boston University,6.0,Consultant,Male,POC,True,1,0,White,Male,35-44 years old,High School Graduate

In [18]:
#college
final['college_binary'] = '1-50'
final.loc[final['college'].isin(['Virginia Tech', 'George Washington University', 'University of San Diego' ]), 'college_binary'] = '50-100'

In [19]:
#jobs
final['job_binary'] = 'front-facing'
final.loc[final['job'].isin(['Software Engineer', 'Data Analyst']), 'job_binary'] = 'back-facing'

In [20]:
#final.to_csv('final_dataset_no_drop.csv', index=False)

In [25]:
pd.read_csv('final_dataset_no_drop.csv')

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y,Q30,Q31,Q32,Q33,college_binary,job_binary
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0,Black or African American,Male,35-44 years old,Bachelors Degree,1-50,back-facing
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,Female,White,True,2,1,Black or African American,Male,35-44 years old,Bachelors Degree,1-50,front-facing
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,Male,POC,False,1,1,Black or African American,Male,35-44 years old,Bachelors Degree,1-50,front-facing
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,Male,POC,True,1,0,Black or African American,Male,35-44 years old,Bachelors Degree,50-100,front-facing
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,Male,White,False,1,1,Black or African American,Male,35-44 years old,Bachelors Degree,50-100,back-facing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4065,R_zeaJCDw8vld0P73,3,2,George Washington University,7.0,Sales Representative,Male,POC,True,1,0,White,Male,35-44 years old,High School Graduate,50-100,front-facing
4066,R_zeaJCDw8vld0P73,4,1,Virginia Tech,6.0,Consultant,Male,White,False,2,0,White,Male,35-44 years old,High School Graduate,50-100,front-facing
4067,R_zeaJCDw8vld0P73,4,2,Virginia Tech,7.0,Sales Representative,Male,White,True,2,1,White,Male,35-44 years old,High School Graduate,50-100,front-facing
4068,R_zeaJCDw8vld0P73,5,1,George Washington University,7.0,Data Analyst,Male,POC,False,1,1,White,Male,35-44 years old,High School Graduate,50-100,back-facing
4069,R_zeaJCDw8vld0P73,5,2,Boston University,6.0,Consultant,Male,POC,True,1,0,White,Male,35-44 years old,High School Graduate,1-50,front-facing