In [1]:
import pandas as pd

## Delete all rows where pictures didnt show up

In [16]:
df = pd.read_csv('formatted_data.csv')
df

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
...,...,...,...,...,...,...,...,...,...
4135,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4136,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4137,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
4138,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4139,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1

In [17]:
#there are 70 null rows
nulls = df[df['photo'].isnull()]
nulls

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
180,R_1DOu3fdZstLn1qp,1,1,NaN,NaN,NaN,NaN,2,0
181,R_1DOu3fdZstLn1qp,1,2,NaN,NaN,NaN,NaN,2,1
182,R_1DOu3fdZstLn1qp,2,1,NaN,NaN,NaN,NaN,2,0
183,R_1DOu3fdZstLn1qp,2,2,NaN,NaN,NaN,NaN,2,1
184,R_1DOu3fdZstLn1qp,3,1,NaN,NaN,NaN,NaN,2,0
...,...,...,...,...,...,...,...,...,...
1895,R_2YnXDBfIiXItTxz,3,2,NaN,NaN,NaN,NaN,1,0
1896,R_2YnXDBfIiXItTxz,4,1,NaN,NaN,NaN,NaN,2,0
1897,R_2YnXDBfIiXItTxz,4,2,NaN,NaN,NaN,NaN,2,1
1898,R_2YnXDBfIiXItTxz,5,1,NaN,NaN,NaN,NaN,1,1
1899,R_2YnXDBfIiXItTxz,5,2,NaN,NaN,NaN,NaN,1,0

In [18]:
#dropped_ids = nulls['id'].unique()
#dropped_ids

In [19]:
#drop nulls in dataset
df = df.dropna()
df

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
...,...,...,...,...,...,...,...,...,...
4135,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4136,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4137,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
4138,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4139,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1

In [20]:
##photo tags
photo_mappings = pd.read_csv('photo_mappings.csv')
photo_mappings.columns = photo_mappings.columns.str.lower()
photo_mappings = photo_mappings.drop(columns='name')
photo_mappings

,gender,ethnicity,filtered,photo
0,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
1,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
2,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
3,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
4,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
5,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
6,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
7,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
8,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
9,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
10,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
11,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
12,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
13,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
14,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
15,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
16,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
17,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
18,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
19,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
20,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
21,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
22,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
23,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...

In [21]:
#photo_mappings['endings'] = photo_mappings['photo'].str.replace('https://berkeley.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_', '', regex=False)
##df['endings'] = df['photo'].str.replace('https://berkeley.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_', '', regex=False)

#df['endings'].unique()

In [22]:
final_df = df.merge(photo_mappings, on='photo')
new_cols = ['id', 'choiceNum', 'candNum', 'college', 'exp', 'job', 'photo', 'gender', 'ethnicity', 'filtered','preference', 'Y' ]
final_df = final_df[new_cols].drop(columns='photo')
final_df

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0
1,R_10Dc7KG5UNa5FTL,2,2,Boston University,6.0,Sales Representative,Male,White,True,2,1
2,R_10vgeskqNS70Nl2,1,1,Boston University,6.0,Sales Representative,Male,White,True,1,1
3,R_10vgeskqNS70Nl2,4,1,Stanford University,6.0,Consultant,Male,White,True,1,1
4,R_1C8EXyoBcrNhOeN,3,1,Virginia Tech,5.0,Consultant,Male,White,True,2,0
...,...,...,...,...,...,...,...,...,...,...,...
4065,R_xlyEl9UuW4Gb5xn,3,1,George Washington University,7.0,Consultant,Female,POC,False,1,1
4066,R_xyfhT26F7oOnIcN,4,2,Boston University,5.0,Data Analyst,Female,POC,False,1,0
4067,R_ysb31V3xcF8FkHv,5,2,Boston University,5.0,Data Analyst,Female,POC,False,1,0
4068,R_ZepKbi2sjYj7xzX,1,2,Virginia Tech,7.0,Sales Representative,Female,POC,False,2,1
4069,R_Zmz2US2dIggx0gp,1,1,Virginia Tech,6.0,Sales Representative,Female,POC,False,1,1

# Covariates

In [23]:
cleaned_pre_format = pd.read_csv('cleaned_conj_exp_responses.csv')
cleaned_pre_format.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', '1_Q3', '2_Q3', '3_Q3', '4_Q3',
       '5_Q3', 'Q61', 'Q30', 'Q30_7_TEXT', 'Q31', 'Q32', 'Q33', 'Q33_7_TEXT',
       'Unique Survey Code', 'choice1_college1', 'choice1_college2',
       'choice1_job1', 'choice1_job2', 'choice1_photo1', 'choice1_photo2',
       'choice2_college1', 'choice2_college2', 'choice2_job1', 'choice2_job2',
       'choice2_photo1', 'choice2_photo2', 'choice3_college1',
       'choice3_college2', 'choice3_job1', 'choice3_job2', 'choice3_photo1',
       'choice3_photo2', 'choice4_college1', 'choice4_college2',
       'choice4_job1', 'choice4_job2', 'choice4_photo1', 'choice4_photo2',
       'choice5_college1', 'choice5_college2', 'choice5_job1', 'choice5_job2',
       'choice5_photo1', 'choice5_photo2', 'choice1_exp1', 'choice1_exp2',
       'choice2_exp1', 'choice2_exp2', 'choice3_exp1', 'choice3_exp2',
       'choice4_exp1', 'choice4_exp2', 'choice5_exp1', 'choice5_exp2'],
      dtype='object')

In [24]:
covariates = cleaned_pre_format[['ResponseId','Q61', 'Q30', 'Q31', 'Q32', 'Q33']]

In [25]:
covariates['Q61'] = covariates['Q61'].str.replace('All of the above', '1,2,3,4,5')
covariates['Q61'] = covariates['Q61'].str.replace('Q', '')

covariates

<ipython-input-25-79cd8acb76ac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covariates['Q61'] = covariates['Q61'].str.replace('All of the above', '1,2,3,4,5')
<ipython-input-25-79cd8acb76ac>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covariates['Q61'] = covariates['Q61'].str.replace('Q', '')

,ResponseId,Q61,Q30,Q31,Q32,Q33
0,R_2OOTwdc9qpaeyUM,3,White,Male,45-54 years old,Bachelors Degree
1,R_1Hdd8hUst2tZXhb,2,White,Male,35-44 years old,Bachelors Degree
2,R_3Pjfa42q2kQ7vG3,"2,3,4",White,Male,25-34 years old,Masters Degree
3,R_2X033519KnXqPZN,"1,2,3,4,5",White,Male,25-34 years old,Bachelors Degree
4,R_2b3suxrXdwXSniG,3,White,Male,25-34 years old,Bachelors Degree
...,...,...,...,...,...,...
409,R_3lXpTUN5BVRENUX,1,Black or African American,Male,25-34 years old,High School Graduate
410,R_3ltDcAqP8FxgHZf,"1,2,3",White,Male,25-34 years old,Masters Degree
411,R_3n0gxinPpBmU108,3,White,Female,25-34 years old,Bachelors Degree
412,R_6ijRBd6GlnVOICJ,"1,2,3,4,5",White,Male,25-34 years old,High School Graduate
413,R_3Oqtne56t2sJDkF,"1,2,3,4,5",White,Male,25-34 years old,High School Graduate

In [26]:
temp = covariates.merge(covariates['Q61'].str.split(',', expand=True), left_index = True, right_index = True)
temp

,ResponseId,Q61,Q30,Q31,Q32,Q33,0,1,2,3,4
0,R_2OOTwdc9qpaeyUM,3,White,Male,45-54 years old,Bachelors Degree,3,None,None,None,None
1,R_1Hdd8hUst2tZXhb,2,White,Male,35-44 years old,Bachelors Degree,2,None,None,None,None
2,R_3Pjfa42q2kQ7vG3,"2,3,4",White,Male,25-34 years old,Masters Degree,2,3,4,None,None
3,R_2X033519KnXqPZN,"1,2,3,4,5",White,Male,25-34 years old,Bachelors Degree,1,2,3,4,5
4,R_2b3suxrXdwXSniG,3,White,Male,25-34 years old,Bachelors Degree,3,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
409,R_3lXpTUN5BVRENUX,1,Black or African American,Male,25-34 years old,High School Graduate,1,None,None,None,None
410,R_3ltDcAqP8FxgHZf,"1,2,3",White,Male,25-34 years old,Masters Degree,1,2,3,None,None
411,R_3n0gxinPpBmU108,3,White,Female,25-34 years old,Bachelors Degree,3,None,None,None,None
412,R_6ijRBd6GlnVOICJ,"1,2,3,4,5",White,Male,25-34 years old,High School Graduate,1,2,3,4,5
413,R_3Oqtne56t2sJDkF,"1,2,3,4,5",White,Male,25-34 years old,High School Graduate,1,2,3,4,5

In [27]:
melted = pd.melt(temp, id_vars = ['ResponseId', 'Q30', 'Q31', 'Q32', 'Q33'], value_vars = [0,1,2,3,4])
melted

,ResponseId,Q30,Q31,Q32,Q33,variable,value
0,R_2OOTwdc9qpaeyUM,White,Male,45-54 years old,Bachelors Degree,0,3
1,R_1Hdd8hUst2tZXhb,White,Male,35-44 years old,Bachelors Degree,0,2
2,R_3Pjfa42q2kQ7vG3,White,Male,25-34 years old,Masters Degree,0,2
3,R_2X033519KnXqPZN,White,Male,25-34 years old,Bachelors Degree,0,1
4,R_2b3suxrXdwXSniG,White,Male,25-34 years old,Bachelors Degree,0,3
...,...,...,...,...,...,...,...
2065,R_3lXpTUN5BVRENUX,Black or African American,Male,25-34 years old,High School Graduate,4,None
2066,R_3ltDcAqP8FxgHZf,White,Male,25-34 years old,Masters Degree,4,None
2067,R_3n0gxinPpBmU108,White,Female,25-34 years old,Bachelors Degree,4,None
2068,R_6ijRBd6GlnVOICJ,White,Male,25-34 years old,High School Graduate,4,5
2069,R_3Oqtne56t2sJDkF,White,Male,25-34 years old,High School Graduate,4,5

In [28]:
#melted_keep = melted[~melted['ResponseId'].isin(list(dropped_ids))]

In [29]:
melted = melted[melted['value'].notnull()].drop(columns=['variable']).rename(columns={'Q30':'resp_ethnicity', 'Q31':'resp_sex', 'Q32': 'resp_age', 'Q33': 'resp_education'})
melted = melted.reset_index(drop=True)
melted['value'] = melted['value'].astype(int)
melted

,ResponseId,resp_ethnicity,resp_sex,resp_age,resp_education,value
0,R_2OOTwdc9qpaeyUM,White,Male,45-54 years old,Bachelors Degree,3
1,R_1Hdd8hUst2tZXhb,White,Male,35-44 years old,Bachelors Degree,2
2,R_3Pjfa42q2kQ7vG3,White,Male,25-34 years old,Masters Degree,2
3,R_2X033519KnXqPZN,White,Male,25-34 years old,Bachelors Degree,1
4,R_2b3suxrXdwXSniG,White,Male,25-34 years old,Bachelors Degree,3
...,...,...,...,...,...,...
1093,R_DIEUOhGC3xTAHo5,White,Female,25-34 years old,Bachelors Degree,5
1094,R_21ivB8St3eVmqLu,White,Female,55-64 years old,Bachelors Degree,5
1095,R_5zhuasD8qJooA9j,White,Male,25-34 years old,Bachelors Degree,5
1096,R_6ijRBd6GlnVOICJ,White,Male,25-34 years old,High School Graduate,5
1097,R_3Oqtne56t2sJDkF,White,Male,25-34 years old,High School Graduate,5

In [30]:
merge_final = final_df.merge(melted, left_on = ['id', 'choiceNum'], right_on = ['ResponseId','value'], how = 'inner')
merge_final

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y,ResponseId,resp_ethnicity,resp_sex,resp_age,resp_education,value
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0,R_0GkP9YSiNDMukb7,Black or African American,Male,35-44 years old,Bachelors Degree,1
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,Female,White,True,2,1,R_0GkP9YSiNDMukb7,Black or African American,Male,35-44 years old,Bachelors Degree,1
2,R_1C8EXyoBcrNhOeN,3,1,Virginia Tech,5.0,Consultant,Male,White,True,2,0,R_1C8EXyoBcrNhOeN,White,Female,45-54 years old,Bachelors Degree,3
3,R_1C8EXyoBcrNhOeN,3,2,"University of California, Berkeley",7.0,Consultant,Male,POC,True,2,1,R_1C8EXyoBcrNhOeN,White,Female,45-54 years old,Bachelors Degree,3
4,R_1CEAYwHBzUXmESO,2,2,Virginia Tech,6.0,Sales Representative,Male,White,True,2,1,R_1CEAYwHBzUXmESO,White,Male,25-34 years old,Masters Degree,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,R_SPKgQN5oDvv2kGR,4,2,Virginia Tech,5.0,Software Engineer,Female,POC,False,2,1,R_SPKgQN5oDvv2kGR,Asian,Male,25-34 years old,Bachelors Degree,4
2158,R_psL41WRqhAyhmA9,1,1,Boston University,6.0,Sales Representative,Female,POC,False,1,1,R_psL41WRqhAyhmA9,White,Male,25-34 years old,Bachelors Degree,1
2159,R_psL41WRqhAyhmA9,1,2,University of San Diego,6.0,Consultant,Female,POC,False,1,0,R_psL41WRqhAyhmA9,White,Male,25-34 years old,Bachelors Degree,1
2160,R_r0BvN4SYEb3daEN,3,1,Boston University,7.0,Data Analyst,Female,POC,False,1,1,R_r0BvN4SYEb3daEN,White,Male,35-44 years old,Bachelors Degree,3
2161,R_r0BvN4SYEb3daEN,3,2,"University of California, Berkeley",6.0,Sales Representative,Female,POC,False,1,0,R_r0BvN4SYEb3daEN,White,Male,35-44 years old,Bachelors Degree,3

In [31]:
merge_final = merge_final.drop(columns= ['ResponseId', 'value'])
merge_final

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y,resp_ethnicity,resp_sex,resp_age,resp_education
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0,Black or African American,Male,35-44 years old,Bachelors Degree
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,Female,White,True,2,1,Black or African American,Male,35-44 years old,Bachelors Degree
2,R_1C8EXyoBcrNhOeN,3,1,Virginia Tech,5.0,Consultant,Male,White,True,2,0,White,Female,45-54 years old,Bachelors Degree
3,R_1C8EXyoBcrNhOeN,3,2,"University of California, Berkeley",7.0,Consultant,Male,POC,True,2,1,White,Female,45-54 years old,Bachelors Degree
4,R_1CEAYwHBzUXmESO,2,2,Virginia Tech,6.0,Sales Representative,Male,White,True,2,1,White,Male,25-34 years old,Masters Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,R_SPKgQN5oDvv2kGR,4,2,Virginia Tech,5.0,Software Engineer,Female,POC,False,2,1,Asian,Male,25-34 years old,Bachelors Degree
2158,R_psL41WRqhAyhmA9,1,1,Boston University,6.0,Sales Representative,Female,POC,False,1,1,White,Male,25-34 years old,Bachelors Degree
2159,R_psL41WRqhAyhmA9,1,2,University of San Diego,6.0,Consultant,Female,POC,False,1,0,White,Male,25-34 years old,Bachelors Degree
2160,R_r0BvN4SYEb3daEN,3,1,Boston University,7.0,Data Analyst,Female,POC,False,1,1,White,Male,35-44 years old,Bachelors Degree
2161,R_r0BvN4SYEb3daEN,3,2,"University of California, Berkeley",6.0,Sales Representative,Female,POC,False,1,0,White,Male,35-44 years old,Bachelors Degree

In [32]:
final = merge_final.sort_values(['id', 'choiceNum', 'candNum']).reset_index(drop=True)
final

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y,resp_ethnicity,resp_sex,resp_age,resp_education
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0,Black or African American,Male,35-44 years old,Bachelors Degree
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,Female,White,True,2,1,Black or African American,Male,35-44 years old,Bachelors Degree
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,Male,POC,False,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,Male,POC,True,1,0,Black or African American,Male,35-44 years old,Bachelors Degree
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,Male,White,False,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,R_zeaJCDw8vld0P73,3,2,George Washington University,7.0,Sales Representative,Male,POC,True,1,0,White,Male,35-44 years old,High School Graduate
2158,R_zeaJCDw8vld0P73,4,1,Virginia Tech,6.0,Consultant,Male,White,False,2,0,White,Male,35-44 years old,High School Graduate
2159,R_zeaJCDw8vld0P73,4,2,Virginia Tech,7.0,Sales Representative,Male,White,True,2,1,White,Male,35-44 years old,High School Graduate
2160,R_zeaJCDw8vld0P73,5,1,George Washington University,7.0,Data Analyst,Male,POC,False,1,1,White,Male,35-44 years old,High School Graduate
2161,R_zeaJCDw8vld0P73,5,2,Boston University,6.0,Consultant,Male,POC,True,1,0,White,Male,35-44 years old,High School Graduate

In [33]:
final

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y,resp_ethnicity,resp_sex,resp_age,resp_education
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0,Black or African American,Male,35-44 years old,Bachelors Degree
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,Female,White,True,2,1,Black or African American,Male,35-44 years old,Bachelors Degree
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,Male,POC,False,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,Male,POC,True,1,0,Black or African American,Male,35-44 years old,Bachelors Degree
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,Male,White,False,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,R_zeaJCDw8vld0P73,3,2,George Washington University,7.0,Sales Representative,Male,POC,True,1,0,White,Male,35-44 years old,High School Graduate
2158,R_zeaJCDw8vld0P73,4,1,Virginia Tech,6.0,Consultant,Male,White,False,2,0,White,Male,35-44 years old,High School Graduate
2159,R_zeaJCDw8vld0P73,4,2,Virginia Tech,7.0,Sales Representative,Male,White,True,2,1,White,Male,35-44 years old,High School Graduate
2160,R_zeaJCDw8vld0P73,5,1,George Washington University,7.0,Data Analyst,Male,POC,False,1,1,White,Male,35-44 years old,High School Graduate
2161,R_zeaJCDw8vld0P73,5,2,Boston University,6.0,Consultant,Male,POC,True,1,0,White,Male,35-44 years old,High School Graduate

In [34]:
#final.iloc[1050:1060, :]

In [35]:
final['college'].value_counts()

Boston University                     376
Virginia Tech                         371
Stanford University                   369
University of California, Berkeley    359
George Washington University          353
University of San Diego               334
Name: college, dtype: int64

In [36]:
#college
final['college_binary'] = '1-50'
final.loc[final['college'].isin(['Virginia Tech', 'George Washington University', 'University of San Diego' ]), 'college_binary'] = '50-100'

In [37]:
#jobs
final['job_binary'] = 'front-facing'
final.loc[final['job'].isin(['Software Engineer', 'Data Analyst']), 'job_binary'] = 'back-facing'

In [11]:
#final.to_csv('final_dataset.csv', index=False)

In [ ]:
### Don't delete rows unless didnt see pictures at all

In [39]:
covariates = pd.read_csv('covariate_final.csv').drop(columns=['Unnamed: 0'])
covariates

,id,choiceNum,candNum,college,exp,job,photo,preference,Y,resp_ethnicity,resp_sex,resp_age,resp_education
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,Black or African American,Male,35-44 years old,Bachelors Degree
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,Black or African American,Male,35-44 years old,Bachelors Degree
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0,Black or African American,Male,35-44 years old,Bachelors Degree
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0,White,Female,35-44 years old,Bachelors Degree
2192,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,White,Female,35-44 years old,Bachelors Degree
2193,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,White,Female,35-44 years old,Bachelors Degree
2194,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,White,Female,35-44 years old,Bachelors Degree
2195,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,White,Female,35-44 years old,Bachelors Degree

In [41]:
photo_mappings = pd.read_csv('photo_mappings.csv')
photo_mappings.columns = photo_mappings.columns.str.lower()
photo_mappings

,name,gender,ethnicity,filtered,photo
0,female_poc1,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
1,female_poc2,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
2,female_poc3,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
3,female_white1,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
4,female_white2,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
5,female_white3,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
6,male_poc1,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
7,male_poc2,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
8,male_poc3,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
9,male_white1,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
10,male_white2,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
11,male_white3,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
12,female_poc1_edited,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
13,female_poc2_edited,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
14,female_poc3_edited,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
15,female_white1_edited,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
16,female_white2_edited,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
17,female_white3_edited,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
18,male_poc1_edited,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
19,male_poc2_edited,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
20,male_poc3_edited,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
21,male_white1_edited,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
22,male_white2_edited,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
23,male_white3_edited,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...

In [42]:
final_no_drop = covariates.merge(photo_mappings, on = 'photo')
final_no_drop

,id,choiceNum,candNum,college,exp,job,photo,preference,Y,resp_ethnicity,resp_sex,resp_age,resp_education,name,gender,ethnicity,filtered
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,Black or African American,Male,35-44 years old,Bachelors Degree,male_white1_edited,Male,White,True
1,R_1C8EXyoBcrNhOeN,3,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,White,Female,45-54 years old,Bachelors Degree,male_white1_edited,Male,White,True
2,R_1CEAYwHBzUXmESO,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,White,Male,25-34 years old,Masters Degree,male_white1_edited,Male,White,True
3,R_1d4iBpGknyUHBkz,2,2,University of San Diego,6.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,Asian,Male,25-34 years old,Bachelors Degree,male_white1_edited,Male,White,True
4,R_1DMRjXuBOmsqTFR,5,1,George Washington University,6.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,White,Male,35-44 years old,Bachelors Degree,male_white1_edited,Male,White,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,R_UMSTuoY49wvTIlP,5,1,George Washington University,6.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1,Prefer not to say,Female,25-34 years old,Bachelors Degree,male_white2_edited,Male,White,True
2158,R_YPlsVAczyEKvMnT,2,1,Boston University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1,White,Male,25-34 years old,Bachelors Degree,male_white2_edited,Male,White,True
2159,R_YQDXxeZoCyVdZJL,1,2,Boston University,7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,White,Female,25-34 years old,Bachelors Degree,male_white2_edited,Male,White,True
2160,R_zeaJCDw8vld0P73,1,1,"University of California, Berkeley",7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,White,Male,35-44 years old,High School Graduate,male_white2_edited,Male,White,True
2161,R_zeaJCDw8vld0P73,4,2,Virginia Tech,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,White,Male,35-44 years old,High School Graduate,male_white2_edited,Male,White,True