In [90]:
import pandas as pd

#df = pd.read_csv('final_dataset.csv').drop('Unnamed: 0', axis=1)
#df

In [106]:
df = pd.read_csv('formatted_data.csv')#.drop('Unnamed: 0', axis=1)
df

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
...,...,...,...,...,...,...,...,...,...
4135,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4136,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4137,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
4138,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4139,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1

In [107]:
len(df)

4140

In [108]:
#pre_format = pd.read_csv('data_r.csv')
#pre_format.columns

In [109]:
cleaned_pre_format = pd.read_csv('cleaned_conj_exp_responses.csv')
cleaned_pre_format.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', '1_Q3', '2_Q3', '3_Q3', '4_Q3',
       '5_Q3', 'Q61', 'Q30', 'Q30_7_TEXT', 'Q31', 'Q32', 'Q33', 'Q33_7_TEXT',
       'Unique Survey Code', 'choice1_college1', 'choice1_college2',
       'choice1_job1', 'choice1_job2', 'choice1_photo1', 'choice1_photo2',
       'choice2_college1', 'choice2_college2', 'choice2_job1', 'choice2_job2',
       'choice2_photo1', 'choice2_photo2', 'choice3_college1',
       'choice3_college2', 'choice3_job1', 'choice3_job2', 'choice3_photo1',
       'choice3_photo2', 'choice4_college1', 'choice4_college2',
       'choice4_job1', 'choice4_job2', 'choice4_photo1', 'choice4_photo2',
       'choice5_college1', 'choice5_college2', 'choice5_job1', 'choice5_job2',
       'choice5_photo1', 'choice5_photo2', 'choice1_exp1', 'choice1_exp2',
       'choice2_exp1', 'choice2_exp2', 'choice3_exp1', 'choice3_exp2',
       'choice4_exp1', 'choice4_exp2', 'choice5_exp1', 'choice5_exp2'],
      dtype='object')

In [110]:
covariates = cleaned_pre_format[['ResponseId','Q61', 'Q30', 'Q31', 'Q32', 'Q33']]

In [111]:
covariates

,ResponseId,Q61,Q30,Q31,Q32,Q33
0,R_2OOTwdc9qpaeyUM,Q3,White,Male,45-54 years old,Bachelors Degree
1,R_1Hdd8hUst2tZXhb,Q2,White,Male,35-44 years old,Bachelors Degree
2,R_3Pjfa42q2kQ7vG3,"Q2,Q3,Q4",White,Male,25-34 years old,Masters Degree
3,R_2X033519KnXqPZN,All of the above,White,Male,25-34 years old,Bachelors Degree
4,R_2b3suxrXdwXSniG,Q3,White,Male,25-34 years old,Bachelors Degree
...,...,...,...,...,...,...
409,R_3lXpTUN5BVRENUX,Q1,Black or African American,Male,25-34 years old,High School Graduate
410,R_3ltDcAqP8FxgHZf,"Q1,Q2,Q3",White,Male,25-34 years old,Masters Degree
411,R_3n0gxinPpBmU108,Q3,White,Female,25-34 years old,Bachelors Degree
412,R_6ijRBd6GlnVOICJ,All of the above,White,Male,25-34 years old,High School Graduate
413,R_3Oqtne56t2sJDkF,All of the above,White,Male,25-34 years old,High School Graduate

In [112]:
covariates['Q61'] = covariates['Q61'].str.replace('All of the above', '1,2,3,4,5')
covariates['Q61'] = covariates['Q61'].str.replace('Q', '')

covariates

<ipython-input-112-79cd8acb76ac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covariates['Q61'] = covariates['Q61'].str.replace('All of the above', '1,2,3,4,5')
<ipython-input-112-79cd8acb76ac>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covariates['Q61'] = covariates['Q61'].str.replace('Q', '')

,ResponseId,Q61,Q30,Q31,Q32,Q33
0,R_2OOTwdc9qpaeyUM,3,White,Male,45-54 years old,Bachelors Degree
1,R_1Hdd8hUst2tZXhb,2,White,Male,35-44 years old,Bachelors Degree
2,R_3Pjfa42q2kQ7vG3,"2,3,4",White,Male,25-34 years old,Masters Degree
3,R_2X033519KnXqPZN,"1,2,3,4,5",White,Male,25-34 years old,Bachelors Degree
4,R_2b3suxrXdwXSniG,3,White,Male,25-34 years old,Bachelors Degree
...,...,...,...,...,...,...
409,R_3lXpTUN5BVRENUX,1,Black or African American,Male,25-34 years old,High School Graduate
410,R_3ltDcAqP8FxgHZf,"1,2,3",White,Male,25-34 years old,Masters Degree
411,R_3n0gxinPpBmU108,3,White,Female,25-34 years old,Bachelors Degree
412,R_6ijRBd6GlnVOICJ,"1,2,3,4,5",White,Male,25-34 years old,High School Graduate
413,R_3Oqtne56t2sJDkF,"1,2,3,4,5",White,Male,25-34 years old,High School Graduate

In [98]:
#joined = df.merge(covariates, left_on = 'id', right_on = 'ResponseId')
#joined

In [99]:
covariates['Q61'][0]

'3'

In [100]:
temp = covariates.merge(covariates['Q61'].str.split(',', expand=True), left_index = True, right_index = True)
temp

,ResponseId,Q61,Q30,Q31,Q32,Q33,0,1,2,3,4
0,R_2OOTwdc9qpaeyUM,3,White,Male,45-54 years old,Bachelors Degree,3,None,None,None,None
1,R_1Hdd8hUst2tZXhb,2,White,Male,35-44 years old,Bachelors Degree,2,None,None,None,None
2,R_3Pjfa42q2kQ7vG3,"2,3,4",White,Male,25-34 years old,Masters Degree,2,3,4,None,None
3,R_2X033519KnXqPZN,"1,2,3,4,5",White,Male,25-34 years old,Bachelors Degree,1,2,3,4,5
4,R_2b3suxrXdwXSniG,3,White,Male,25-34 years old,Bachelors Degree,3,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
409,R_3lXpTUN5BVRENUX,1,Black or African American,Male,25-34 years old,High School Graduate,1,None,None,None,None
410,R_3ltDcAqP8FxgHZf,"1,2,3",White,Male,25-34 years old,Masters Degree,1,2,3,None,None
411,R_3n0gxinPpBmU108,3,White,Female,25-34 years old,Bachelors Degree,3,None,None,None,None
412,R_6ijRBd6GlnVOICJ,"1,2,3,4,5",White,Male,25-34 years old,High School Graduate,1,2,3,4,5
413,R_3Oqtne56t2sJDkF,"1,2,3,4,5",White,Male,25-34 years old,High School Graduate,1,2,3,4,5

In [101]:
melted = pd.melt(temp, id_vars = ['ResponseId', 'Q30', 'Q31', 'Q32', 'Q33'], value_vars = [0,1,2,3,4])
melted

,ResponseId,Q30,Q31,Q32,Q33,variable,value
0,R_2OOTwdc9qpaeyUM,White,Male,45-54 years old,Bachelors Degree,0,3
1,R_1Hdd8hUst2tZXhb,White,Male,35-44 years old,Bachelors Degree,0,2
2,R_3Pjfa42q2kQ7vG3,White,Male,25-34 years old,Masters Degree,0,2
3,R_2X033519KnXqPZN,White,Male,25-34 years old,Bachelors Degree,0,1
4,R_2b3suxrXdwXSniG,White,Male,25-34 years old,Bachelors Degree,0,3
...,...,...,...,...,...,...,...
2065,R_3lXpTUN5BVRENUX,Black or African American,Male,25-34 years old,High School Graduate,4,None
2066,R_3ltDcAqP8FxgHZf,White,Male,25-34 years old,Masters Degree,4,None
2067,R_3n0gxinPpBmU108,White,Female,25-34 years old,Bachelors Degree,4,None
2068,R_6ijRBd6GlnVOICJ,White,Male,25-34 years old,High School Graduate,4,5
2069,R_3Oqtne56t2sJDkF,White,Male,25-34 years old,High School Graduate,4,5

In [102]:
melted = melted[melted['value'].notnull()].drop(columns=['variable']).rename(columns={'Q30':'resp_ethnicity', 'Q31':'resp_sex', 'Q32': 'resp_age', 'Q33': 'resp_education'})
melted

,ResponseId,resp_ethnicity,resp_sex,resp_age,resp_education,value
0,R_2OOTwdc9qpaeyUM,White,Male,45-54 years old,Bachelors Degree,3
1,R_1Hdd8hUst2tZXhb,White,Male,35-44 years old,Bachelors Degree,2
2,R_3Pjfa42q2kQ7vG3,White,Male,25-34 years old,Masters Degree,2
3,R_2X033519KnXqPZN,White,Male,25-34 years old,Bachelors Degree,1
4,R_2b3suxrXdwXSniG,White,Male,25-34 years old,Bachelors Degree,3
...,...,...,...,...,...,...
2057,R_DIEUOhGC3xTAHo5,White,Female,25-34 years old,Bachelors Degree,5
2058,R_21ivB8St3eVmqLu,White,Female,55-64 years old,Bachelors Degree,5
2063,R_5zhuasD8qJooA9j,White,Male,25-34 years old,Bachelors Degree,5
2068,R_6ijRBd6GlnVOICJ,White,Male,25-34 years old,High School Graduate,5
2069,R_3Oqtne56t2sJDkF,White,Male,25-34 years old,High School Graduate,5

In [103]:
melted = melted.reset_index(drop=True)
melted['value'] = melted['value'].astype(int)
melted

,ResponseId,resp_ethnicity,resp_sex,resp_age,resp_education,value
0,R_2OOTwdc9qpaeyUM,White,Male,45-54 years old,Bachelors Degree,3
1,R_1Hdd8hUst2tZXhb,White,Male,35-44 years old,Bachelors Degree,2
2,R_3Pjfa42q2kQ7vG3,White,Male,25-34 years old,Masters Degree,2
3,R_2X033519KnXqPZN,White,Male,25-34 years old,Bachelors Degree,1
4,R_2b3suxrXdwXSniG,White,Male,25-34 years old,Bachelors Degree,3
...,...,...,...,...,...,...
1093,R_DIEUOhGC3xTAHo5,White,Female,25-34 years old,Bachelors Degree,5
1094,R_21ivB8St3eVmqLu,White,Female,55-64 years old,Bachelors Degree,5
1095,R_5zhuasD8qJooA9j,White,Male,25-34 years old,Bachelors Degree,5
1096,R_6ijRBd6GlnVOICJ,White,Male,25-34 years old,High School Graduate,5
1097,R_3Oqtne56t2sJDkF,White,Male,25-34 years old,High School Graduate,5

In [104]:
melted['value'][0]

3

In [105]:
merge_final = df.merge(melted, left_on = ['id', 'choiceNum'], right_on = ['ResponseId','value'], how = 'inner')
merge_final

,id,choiceNum,candNum,college,exp,job,photo,preference,Y,ResponseId,resp_ethnicity,resp_sex,resp_age,resp_education,value
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,R_0GkP9YSiNDMukb7,Black or African American,Male,35-44 years old,Bachelors Degree,1
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,R_0GkP9YSiNDMukb7,Black or African American,Male,35-44 years old,Bachelors Degree,1
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1,R_0GkP9YSiNDMukb7,Black or African American,Male,35-44 years old,Bachelors Degree,2
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0,R_0GkP9YSiNDMukb7,Black or African American,Male,35-44 years old,Bachelors Degree,2
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1,R_0GkP9YSiNDMukb7,Black or African American,Male,35-44 years old,Bachelors Degree,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0,R_Zmz2US2dIggx0gp,White,Female,35-44 years old,Bachelors Degree,3
2192,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,R_Zmz2US2dIggx0gp,White,Female,35-44 years old,Bachelors Degree,4
2193,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,R_Zmz2US2dIggx0gp,White,Female,35-44 years old,Bachelors Degree,4
2194,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,R_Zmz2US2dIggx0gp,White,Female,35-44 years old,Bachelors Degree,5
2195,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,R_Zmz2US2dIggx0gp,White,Female,35-44 years old,Bachelors Degree,5

In [88]:
merge_final = merge_final.drop(columns= ['ResponseId', 'value'])
merge_final

,id,choiceNum,candNum,college,exp,job,photo,preference,Y,resp_ethnicity,resp_sex,resp_age,resp_education
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,Black or African American,Male,35-44 years old,Bachelors Degree
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,Black or African American,Male,35-44 years old,Bachelors Degree
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0,Black or African American,Male,35-44 years old,Bachelors Degree
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1,Black or African American,Male,35-44 years old,Bachelors Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0,White,Female,35-44 years old,Bachelors Degree
2192,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,White,Female,35-44 years old,Bachelors Degree
2193,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,White,Female,35-44 years old,Bachelors Degree
2194,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0,White,Female,35-44 years old,Bachelors Degree
2195,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1,White,Female,35-44 years old,Bachelors Degree

In [89]:
merge_final.to_csv('covariate_final.csv')